networks:
  pangolin:
    external: true

services:

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./config/prometheus/prometheus_data:/prometheus
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=21d'
      - '--storage.tsdb.retention.size=3GB'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.enable-lifecycle'
    # ports:
      # - "9091:9090"
    restart: unless-stopped
    networks:
      - pangolin
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "5"

  victoriametrics:
    image: victoriametrics/victoria-metrics:v1.117.1
    container_name: victoriametrics
    restart: unless-stopped
    expose: # Exposes port 8428 only to other containers on the 'pangolin' network
      - "8428"
    volumes:
      - ./config/victoriametrics:/victoria-metrics-data
    command:
      - '--storageDataPath=/victoria-metrics-data'
      - '--httpListenAddr=:8428' # Listen on all interfaces within the container on port 8428
      - '--retentionPeriod=2'
    networks:
      - pangolin
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - prometheus
    volumes:
      - ./config/grafana/data:/var/lib/grafana
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
    # ports:
      # - "3035:3000"
    restart: unless-stopped
    networks:
      - pangolin
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)'
    restart: unless-stopped
    networks:
      - pangolin
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.52.1
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    restart: unless-stopped
    privileged: true
    networks:
      - pangolin
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  middleware-manager:
    image: hhftechnology/middleware-manager:v3.0.3
    container_name: middleware-manager
    networks:
      - pangolin
    restart: unless-stopped
    volumes:
      - ./config/middleware-manager/mm_data:/data
      - ./config/middleware-manager/mm_config/templates.yaml:/app/config/templates.yaml:ro
      - ./config/middleware-manager/mm_config/templates_services.yaml:/app/config/templates_services.yaml
      - ./config/middleware-manager/mm_config/config.json:/app/config/config.jsong
      - ./config/traefik/rules:/conf
    environment:
      - PANGOLIN_API_URL=http://pangolin:3001/api/v1
      - TRAEFIK_API_URL=http://traefik:8080 # Or http://gerbil:8080 if Traefik API is via Gerbil
      - TRAEFIK_CONF_DIR=/conf
      - DB_PATH=/data/middleware.db
      - PORT=3456
      - ACTIVE_DATA_SOURCE=pangolin # Set to 'pangolin' or 'traefik'
      - TRAEFIK_STATIC_CONFIG_PATH=/etc/traefik/traefik.yml
      - PLUGINS_JSON_URL=https://raw.githubusercontent.com/hhftechnology/middleware-manager/traefik-int/plugin/plugins.json
      - CHECK_INTERVAL_SECONDS=14400
      - SERVICE_INTERVAL_SECONDS=14400
      - GENERATE_INTERVAL_SECONDS=3600
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    # ports:
      # - "3456:3456"
