{
	email user@mydomain.com
}

# --- Registry API Block ---
registry.mydomain.com {
	basic_auth {
		user password_hash_goes_here
	}

	reverse_proxy registry:5000
}

# --- UI Block ---
ui.registry.mydomain.com {
	basic_auth {
		reg_user password_hash_goes_here
	}
	reverse_proxy registry_ui:80

	header {
		Strict-Transport-Security "max-age=31536000;"
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		Referrer-Policy "strict-origin-when-cross-origin"
		Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; connect-src 'self'; img-src 'self' data:; font-src 'self'; form-action 'self'; frame-ancestors 'none';"
	}
}
