# REGISTRY
REGISTRY_HTTP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
REGISTRY_TITLE=myregistry.com
PULL_URL=registry.mydomain.com

# GRAFANA
GF_SECURITY_ADMIN_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GF_SERVER_ROOT_URL=https://stats.registry.mydomain.com

# NTFY
NTFY_SERVER_URL=https://ntfy.mydomain.com
NTFY_TOPIC=my_registry
NTFY_ACCESS_TOKEN=tk_xxxxxxxxxxxxxxxxxxxxxxxxxxx
NTFY_PRIORITY=default

# TAGS
REGISTRY_TAG=3.0.0
CADDY_TAG=2.10.0
UI_TAG=main
REGSYNC_TAG=v0.8.3
REGBOT_TAG=v0.8.3
PORTAINER_TAG=latest
PROMETHEUS_TAG=v3.4.1
GRAFANA_TAG=12.0.1
CROWDSEC_TAG=latest
CADVISOR_TAG=v0.52.1
NOTIFY_TAG=latest
