# REGISTRY
REGISTRY_HTTP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
REGISTRY_TITLE=mydomain.tld
PULL_URL=registry.mydomain.tld

# GRAFANA
GF_SECURITY_ADMIN_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxx
GF_SERVER_ROOT_URL=https://stats.registry.mydomain.tld

# NTFY
NTFY_SERVER_URL=https://ntfy.mydomain.tld
NTFY_TOPIC=my_registry
NTFY_ACCESS_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxx
NTFY_PRIORITY=default

# TAGS
REGISTRY_TAG=3.0.0
CADDY_TAG=2.10.2
UI_TAG=main
REGCLIENT_TAG=v0.9.1
PORTAINER_TAG=latest
PROMETHEUS_TAG=v3.5.0
GRAFANA_TAG=12.0.2
CROWDSEC_TAG=latest
CADVISOR_TAG=v0.53.0
NOTIFY_TAG=latest
REDIS_TAG=alpine
